#myCanvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#blacks {
    background-color: black;
    color: white;
}
#reds {
    background-color: red;
    color: white;
}
#greens {
    background-color: green;
    color: white;
}
#blues {
    background-color: blue;
    color: white;
}
#whites {
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
#canvasImage {
    width: 120px;
    height: 80px;
    margin-top: 10px;
    border: 1px solid black;
}